*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1..6rem;
    background: black;
    padding: 1.2rem;
}
header{
    padding: 1.2rem 20rem;
    display: flex;
}
.escrito{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    
    margin-top: 8.0rem;
    align-items: center;
}
header h1{
    font-size: 8.0rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#f70202, #5d5c5c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header p {
    font-size: 6.0rem;
    color: rgb(242, 242, 36);
    margin-bottom: 1.0rem;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.0rem;
}
.search input{
    height: 3.5rem;
    width: 30rem;

    border: none;
    border-radius: 1.2rem 0 0 1.2rem;
    padding: .8rem 2rem ;

    font-size: 1.5rem;
    background: rgb(155, 204, 244);
    color: rgb(10, 9, 9)
}
.search button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 7rem;


    border-radius: 0 1.2rem 1.2rem 0;
    border: none;

    padding: .5rem;

    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    background: rgb(184, 180, 180);
    
    cursor: pointer;
    transition: .5s;

}
button:hover{
    transform: scale(1.1);
}
button img{
    height: 3.8rem;
    width: 4rem;
    color: black;
}
.filme{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-top: 4rem;
    
}
.filmecontainer{
    border: 1px solid white;
    background: rgb(18, 18, 18);

    border-radius: 1.2rem;
}
.filmecontainer img{
    height: 35rem;
    width: 25rem;
    border-radius: 1.2rem;
}
.titulo{
    color: white;
    text-align: center;
    text-transform: uppercase;

    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
}
.genero{
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
    font-weight: 400;


}